:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

body {
    background-color: var(--light);
}

.card {
    padding: 10px;
    margin: 10px;
}

img {
    width: 250px;
}

/*Construct a rule for container to display
cat cards beside each other in flex*/
.container{
    display: flex;
    justify-content: flex-start;
    margin-left: auto;   
    flex-flow: wrap; 
}
